.jG_PDdgfd2dmt_x_02dv {
  align-items: center;
  border-radius: 8px;
  border-radius: 4px;
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  margin: 0 20px 20px;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s;
}
.mNPcalBEAo17emd4aOta:hover {
  box-shadow: 0 0 35px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.ae
  .mNPcalBEAo17emd4aOta:hover
  .m7APqcAlUDVo9GJOyvfk,
.fe
  .mNPcalBEAo17emd4aOta:hover
  .m7APqcAlUDVo9GJOyvfk,
.mle
  .mNPcalBEAo17emd4aOta:hover
  .m7APqcAlUDVo9GJOyvfk,
.pe
  .mNPcalBEAo17emd4aOta:hover
  .m7APqcAlUDVo9GJOyvfk,
.se
  .mNPcalBEAo17emd4aOta:hover
  .m7APqcAlUDVo9GJOyvfk {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .jG_PDdgfd2dmt_x_02dv {
    flex: 1 1 80%;
    margin: 0 0 20px;
  }
}
.m7APqcAlUDVo9GJOyvfk {
  transition: transform 0.3s;
  width: 50px;
}
.ae .m7APqcAlUDVo9GJOyvfk {
  color: #626ee3;
}
.se .m7APqcAlUDVo9GJOyvfk {
  color: #890023;
}
.mle .m7APqcAlUDVo9GJOyvfk {
  color: #f37f1b;
}
.pe .m7APqcAlUDVo9GJOyvfk {
  color: #f21b3f;
}
.fe .m7APqcAlUDVo9GJOyvfk {
  color: #11967e;
}
.XG2As_Hn7kojQbehexhb {
  font-size: 20px;
  margin: 15px 0;
  text-transform: none;
}
.HvGPPPj_lV7gXpQPOeJy {
  white-space: nowrap;
}
.ae .HvGPPPj_lV7gXpQPOeJy {
  color: #626ee3;
}
.ae .HvGPPPj_lV7gXpQPOeJy:hover {
  color: #02203c;
}
.se .HvGPPPj_lV7gXpQPOeJy {
  color: #890023;
}
.se .HvGPPPj_lV7gXpQPOeJy:hover {
  color: #0f0f0f;
}
.mle .HvGPPPj_lV7gXpQPOeJy {
  color: #f37f1b;
}
.mle .HvGPPPj_lV7gXpQPOeJy:hover {
  color: #263238;
}
.pe .HvGPPPj_lV7gXpQPOeJy {
  color: #f21b3f;
}
.pe .HvGPPPj_lV7gXpQPOeJy:hover {
  color: #2e4057;
}
.fe .HvGPPPj_lV7gXpQPOeJy {
  color: #11967e;
}
.fe .HvGPPPj_lV7gXpQPOeJy:hover {
  color: #00334c;
}
.FRFfpHMn1x__tubO97U0.FRFfpHMn1x__tubO97U0 {
  margin-bottom: 10px;
}
.RiBpNv8NOlVdcLwqjTpd {
  background-color: #f44292;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 8px;
  vertical-align: middle;
}
.chYKnLxjTHJmIakDOoAf {
  align-items: center;
  background-color: transparent;
  border: 2px solid #02203c;
  border-radius: 4px;
  color: #02203c;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px 0;
  position: relative;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  width: 190px;
}
@media (hover) {
  .chYKnLxjTHJmIakDOoAf:hover
    .T3M2G76H_N4DZXUxmuV8 {
    width: 100%;
  }
}
.T3M2G76H_N4DZXUxmuV8 {
  background-color: #02203c;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: width 0.4s
    cubic-bezier(0.34, 0.63, 0.29, 0.96);
  width: 0;
  z-index: 0;
}
.Bcc_7gxK9tuu09g6EMLx {
  color: #fff;
}
.uYxVsaNZQODsjTDvWVG4 {
  color: #02203c;
}
.oP6QftbqApIrJbrBuyLv {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  width: 190px;
}
.SKTBFuqAHC_yWQ9kMUuj {
  margin: 0 15px 0 0;
  width: 30px;
}
.K5NsQOvfVxLwjU9uMEAo {
  color: #fff;
}
.AJTVtYl2A1Vr0dS_sbat {
  font-size: 35px;
  margin: 0 0 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .AJTVtYl2A1Vr0dS_sbat {
    font-size: 30px;
  }
}
.J1eqSd7dZK7C9MLVBlF_ {
  margin: 0 0 50px;
  text-align: center;
}
.QZNrgWevg65yjA7bqsgz {
  margin: 0 15px 100px;
}
.MLof_Q9zSKwZOpy6p3Jb {
  overflow: hidden;
  padding: 100px 20px;
  position: relative;
}
.ae .CAUFR38eVHGX_rT8kiCJ {
  background-color: #02203c;
}
.se .CAUFR38eVHGX_rT8kiCJ {
  background-color: #0f0f0f;
}
.mle .CAUFR38eVHGX_rT8kiCJ {
  background-color: #263238;
}
.pe .CAUFR38eVHGX_rT8kiCJ {
  background-color: #2e4057;
}
.fe .CAUFR38eVHGX_rT8kiCJ {
  background-color: #00334c;
}
.ae .VpHUo0CqujhSX5GtDbVn {
  background: linear-gradient(
    90deg,
    #02203c 50%,
    #15314b 0
  );
}
.hwVOssaU7H0Z3dHHwOXC {
  padding-left: 0;
}
.XEEQGxUdG9xAw6vvw6Xu {
  padding-right: 0;
}
.F4H7C8jPGi_ogGHit66P {
  padding-bottom: 0;
}
.vKteZPXuIF7BD4zRel4g {
  padding-top: 150px;
}
@media (max-width: 768px) {
  .vKteZPXuIF7BD4zRel4g {
    padding: 100px 20px;
  }
}
.i7kaYxSHyauypIKb7ZQo {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
@media (max-width: 992px) {
  .i7kaYxSHyauypIKb7ZQo {
    flex-direction: column;
  }
  .Hmp4y4u38o4nn8G8zH4a {
    flex-direction: column-reverse;
  }
}
.FzRz73YnAPXoIYQ_RP9D {
  font-size: 35px;
}
.nhwKL8MxrZYvsBE_N3_V {
  text-align: center;
}
.nZP4jHzUSs_Hxzx0T8pt {
  margin: 0 0 10px;
}
.FpmqdK2DsnlK2PXwdXIj {
  margin: 0 0 20px;
}
.qrrtEfujm7nqWlGIo69o {
  margin: 0 0 50px;
}
.x2dT29qbKDmtOCRIYck2 {
  margin: 0 0 100px;
}
.DFuqR9cJKCVZL6WAC7cp {
  color: #fff;
}
@media (max-width: 768px) {
  .FzRz73YnAPXoIYQ_RP9D {
    font-size: 30px;
  }
}
.mrFUALy2uIACI7ds1u1R {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}
.aL5IUbh2tC_CY4560Zpg.aL5IUbh2tC_CY4560Zpg {
  margin: 10px 0 0;
}
.bYYYJgERSEFyBCrfHFSg {
  color: #fff;
  margin: 0 0 0 15px;
  width: 20px;
}
.VuUyIPyJaNWx5aaM7SvZ {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex: 1 1 50%;
  margin: 0 40px 0 0;
}
@media (max-width: 992px) {
  .VuUyIPyJaNWx5aaM7SvZ {
    margin: 0;
  }
}
.dplrRqnqe_5LkzF1RUnK {
  cursor: pointer;
  height: 30px;
  left: 89%;
  position: absolute;
  top: 1.5vh;
  transition: transform 0.2s ease-in-out;
}
.dplrRqnqe_5LkzF1RUnK:hover {
  transform: scale(1.2);
}
.BODHAuNHlEkXU4ItAKOV.BODHAuNHlEkXU4ItAKOV {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.yNBGANQvSibQnN8JgudA {
  text-align: center;
}
.dioYYIySSkZkgsViMByy {
  margin: 40px 0 0;
}
.vqn4AW44rGvYLBHRyAch {
  color: #fff;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  perspective: 1000px;
}
@media (max-width: 768px) {
  .vqn4AW44rGvYLBHRyAch {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}
.XEb4LJXzJj_VYA9HGVuv {
  opacity: 0;
  transform: translateZ(200px);
  transition: opacity 1s, transform 1s;
  transition-timing-function: cubic-bezier(
    0,
    1.01,
    0.55,
    0.99
  );
}
.X_F4mVB_7junIJKlRy3Y {
  opacity: 1;
  transform: translateZ(0);
}
.XEb4LJXzJj_VYA9HGVuv:first-of-type {
  transition-delay: 0.07s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(2) {
  transition-delay: 0.14s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(3) {
  transition-delay: 0.21s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(4) {
  transition-delay: 0.28s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(5) {
  transition-delay: 0.35s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(6) {
  transition-delay: 0.42s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(7) {
  transition-delay: 0.49s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(8) {
  transition-delay: 0.56s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(9) {
  transition-delay: 0.63s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(10) {
  transition-delay: 0.7s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(11) {
  transition-delay: 0.77s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(12) {
  transition-delay: 0.84s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(13) {
  transition-delay: 0.91s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(14) {
  transition-delay: 0.98s;
}
.XEb4LJXzJj_VYA9HGVuv:nth-of-type(15) {
  transition-delay: 1.05s;
}
@media (hover: hover) {
  .XEb4LJXzJj_VYA9HGVuv:hover
    .bUcfqcACt_0QlkUo3HP2 {
    transform: rotateY(180deg);
  }
}
@media (hover: none) {
  .XEb4LJXzJj_VYA9HGVuv:hover
    .bUcfqcACt_0QlkUo3HP2 {
    transform: rotateX(180deg);
  }
}
.bUcfqcACt_0QlkUo3HP2 {
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.4);
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.LEhedHMds1hwsMJKNIPk,
.fM79kWow102Hd_wU1ibc {
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #15314b;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .LEhedHMds1hwsMJKNIPk,
  .fM79kWow102Hd_wU1ibc {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
}
.fM79kWow102Hd_wU1ibc {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (hover: hover) {
  .fM79kWow102Hd_wU1ibc {
    transform: rotateY(180deg);
  }
}
@media (hover: none) {
  .fM79kWow102Hd_wU1ibc {
    transform: rotateX(180deg);
  }
}
.PEOLW3fmGSXBGvKlyrGm {
  align-items: center;
  background-color: #e4e4e4;
  border-radius: 50%;
  display: flex;
  flex: 0 0 auto;
  height: 35px;
  justify-content: center;
  margin: 0 0 15px;
  width: 35px;
}
@media (max-width: 768px) {
  .PEOLW3fmGSXBGvKlyrGm {
    margin: 0 0 0 15px;
    order: 1;
  }
}
.e2Xd79EYQSONjIM1QFK8 {
  color: #02203c;
  flex: 0 0 auto;
  vertical-align: middle;
  width: 20px;
}
.f6DP_hwyb8cVGtJF4HOM {
  display: none;
}
@media (max-width: 768px) {
  .f6DP_hwyb8cVGtJF4HOM {
    display: block;
  }
  .EljGjbzCwSPbCrUv8I37 {
    display: none;
  }
}
.UbmWiQCJdJCS9VLbvFuI {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.UbmWiQCJdJCS9VLbvFuI iframe {
  border-radius: 4px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.QpUf3VUSJFcYlFmaPlV9 {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 0;
}
.tqYvTYmKa6LR2nmUJuDA {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.sspdcmNEeuyptVoIg8AQ {
  position: relative;
}
.sspdcmNEeuyptVoIg8AQ,
.sspdcmNEeuyptVoIg8AQ iframe {
  height: 100%;
  width: 100%;
}
.GjXIOuKyCX9PawMK44G4 {
  border-radius: 4px;
}
.S8xUzX7krhqJi1Kn4PRT {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.ae .S8xUzX7krhqJi1Kn4PRT {
  background-color: #02203c;
}
.se .S8xUzX7krhqJi1Kn4PRT {
  background-color: #0f0f0f;
}
.mle .S8xUzX7krhqJi1Kn4PRT {
  background-color: #263238;
}
.pe .S8xUzX7krhqJi1Kn4PRT {
  background-color: #2e4057;
}
.fe .S8xUzX7krhqJi1Kn4PRT {
  background-color: #00334c;
}
.r2eslfx8Ri1whOKlyL13 {
  cursor: pointer;
  height: 30px;
  left: 89%;
  position: absolute;
  top: 1.5vh;
  transition: transform 0.2s ease-in-out;
}
.r2eslfx8Ri1whOKlyL13:hover {
  transform: scale(1.2);
}
.aklibRf5IUcINFiqwBnQ {
  flex: 1 1 50%;
  margin: 0 40px 0 0;
}
@media (max-width: 992px) {
  .aklibRf5IUcINFiqwBnQ {
    margin: 0 0 50px;
    text-align: center;
  }
}
.eWAwsYCMcpS5Ogav_cbw {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
}
.C8z76LEGr0Ft5f5poML6 {
  font-size: 20px;
  margin: 0;
  text-transform: none;
}
.WTrWrOAsPB2JUf0qTq15 {
  display: flex;
  flex-direction: row;
  margin: 40px 0 0;
}
@media (max-width: 768px) {
  .WTrWrOAsPB2JUf0qTq15 {
    flex-direction: column;
  }
}
.z5UUfu_5xd8aJh74YUgE {
  margin: 0 10px 0 0;
}
@media (max-width: 768px) {
  .z5UUfu_5xd8aJh74YUgE {
    margin: 0 0 30px;
  }
}
.B1eLEClLHErrkF24PU76 {
  margin: 0 0 0 10px;
}
@media (max-width: 768px) {
  .B1eLEClLHErrkF24PU76 {
    margin: 0;
  }
}
.AZi_4O2_HEVYY6dTjlt6 {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 0 0 10px;
}
.AZi_4O2_HEVYY6dTjlt6:hover
  .HonhVrKPY3176y9W0vlm {
  color: #626ee3;
  transform: scale(1.2);
}
@media (max-width: 992px) {
  .AZi_4O2_HEVYY6dTjlt6 {
    justify-content: center;
  }
}
.HonhVrKPY3176y9W0vlm {
  color: #02203c;
  margin: 0 15px 0 0;
  transition: transform 0.2s, color 0.2s;
  width: 50px;
}
.HbH75KERQOSJjv2cTQNq {
  cursor: pointer;
  height: 30px;
  left: 89%;
  position: absolute;
  top: 1.5vh;
  transition: transform 0.2s ease-in-out;
}
.HbH75KERQOSJjv2cTQNq:hover {
  transform: scale(1.2);
}
.QdvuYIKTZuk96ztvAee5 {
  align-items: flex-start;
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 40px;
}
@media (max-width: 992px) {
  .QdvuYIKTZuk96ztvAee5 {
    align-items: center;
    margin: 0 0 50px;
    padding: 0;
    text-align: center;
  }
}
.wulfOas6nIzcyS6z1GA8 {
  align-items: center;
  display: flex;
  flex: 1 1 50%;
  min-height: 550px;
  min-width: 0;
  perspective: 1500px;
  position: relative;
}
@media (max-width: 992px) {
  .wulfOas6nIzcyS6z1GA8 {
    min-height: 0;
  }
}
.hbbLp3ylnbKSEZw3k5fw {
  border-radius: 8px;
  box-shadow: 27.1px 62.5px 125px -25px rgba(50, 50, 93, 0.6),
    16.2px 37.5px 75px -37.5px rgba(0, 0, 0, 0.7);
  flex: 0 0 auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  position: absolute;
  right: 80px;
  transform: rotate3d(0.5, 0.866, 0, 15deg)
    rotate(-1deg);
  width: 600px;
}
@media (max-width: 992px) {
  .hbbLp3ylnbKSEZw3k5fw {
    height: auto;
    max-width: 600px;
    position: relative;
    right: auto;
    transform: none;
    width: 100%;
  }
}
.fYUi5tNRaVZ_z9w0Dnsx {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
  width: 100%;
}
.gn6BPWEAOMRrEeCJXqbZ {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.4),
    hsla(0, 0%, 100%, 0)
  );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.actualCubeContainer {
  perspective: 800px;
  perspective-origin: 50% 100px;
}
.cubeFaces {
  position: relative;
  transform-style: preserve-3d;
  width: 300px;
}
@media (max-width: 992px) {
  .cubeFaces {
    width: 200px;
  }
}
.cubeFace {
  box-shadow: inset 0 0 100px #02203c;
  height: 300px;
  opacity: 0.75;
  outline: 1px solid #02203c;
  position: absolute;
  width: 300px;
}
@media (max-width: 992px) {
  .cubeFace {
    height: 200px;
    width: 200px;
  }
}
.cubeFaceBack {
  background-color: #3e526a;
  transform: translateZ(-150px) rotateY(180deg);
}
@media (max-width: 992px) {
  .cubeFaceBack {
    transform: translateZ(-100px) rotateY(180deg);
  }
}
.cubeFaceRight {
  background-color: #3e526a;
  transform: rotateY(-270deg) translateX(150px);
  transform-origin: top right;
}
@media (max-width: 992px) {
  .cubeFaceRight {
    transform: rotateY(-270deg) translateX(100px);
  }
}
.cubeFaceLeft {
  background-color: #3e526a;
  transform: rotateY(270deg) translateX(-150px);
  transform-origin: center left;
}
@media (max-width: 992px) {
  .cubeFaceLeft {
    transform: rotateY(270deg) translateX(-100px);
  }
}
.cubeFaceTop {
  background-color: #02203c;
  transform: rotateX(-90deg) translateY(-150px);
  transform-origin: top center;
}
@media (max-width: 992px) {
  .cubeFaceTop {
    transform: rotateX(-90deg) translateY(-100px);
  }
}
.cubeFaceBottom {
  background-color: #02203c;
  transform: rotateX(90deg) translateY(150px);
  transform-origin: bottom center;
}
@media (max-width: 992px) {
  .cubeFaceBottom {
    transform: rotateX(90deg) translateY(100px);
  }
}
.cubeFaceFront {
  background-color: #3e526a;
  transform: translateZ(150px);
}
@media (max-width: 992px) {
  .cubeFaceFront {
    transform: translateZ(100px);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}
.cubeFaces,
.shadow {
  -webkit-animation: spin 45s linear infinite;
  animation: spin 45s linear infinite;
}
.shadowContainer {
  perspective: 800px;
  -webkit-perspective: 800px;
  perspective-origin: 50% 100px;
  -webkit-perspective-origin: 50% 100px;
}
.shadow {
  position: relative;
  transform-style: preserve-3d;
  width: 300px;
}
@media (max-width: 992px) {
  .shadow {
    width: 200px;
  }
}
.shadow div {
  box-shadow: 0 0 100px #000;
  height: 300px;
  opacity: 0.98;
  position: absolute;
  top: 0;
  transform: rotateX(90deg) translateY(150px);
  transform-origin: bottom center;
  width: 300px;
}
@media (max-width: 992px) {
  .shadow div {
    height: 200px;
    transform: rotateX(90deg) translateY(100px);
    width: 200px;
  }
}
.cppLogo,
.goLogo,
.javaLogo,
.pythonLogo {
  width: 100%;
}
.cppLogo {
  height: 100%;
}
.javaScriptLogo {
  width: 100%;
}
.InteractiveBar-bar {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  color: #445d6e;
  font-family: Open Sans, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  margin: 0 0 20px;
  padding: 20px 25px;
  white-space: pre-wrap;
}
@media (max-width: 768px) {
  .InteractiveBar-bar {
    font-size: 16px;
  }
}
.InteractiveBar-btnContainer {
  display: flex;
  flex-direction: row;
  transition: opacity 0.2s;
}
@media (max-width: 576px) {
  .InteractiveBar-btnContainer {
    flex-direction: column;
  }
}
.InteractiveBar-btn {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  color: #445d6e;
  padding: 12px 35px;
  transition: box-shadow 0.2s, transform 0.2s;
}
.InteractiveBar-btn:hover {
  box-shadow: 0 4px 10px rgba(50, 50, 93, 0.1);
  transform: translateY(-2px);
}
.InteractiveBar-btn:first-of-type {
  margin: 0 20px 0 0;
}
@media (max-width: 768px) {
  .InteractiveBar-btn {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .InteractiveBar-btn:first-of-type {
    margin: 0 0 20px;
  }
}
.InteractiveBar-blinkingCursor {
  -webkit-animation: blink 0.9s infinite;
  animation: blink 0.9s infinite;
  color: #6772e5;
  font-size: 22px;
  line-height: 0;
}
@-webkit-keyframes blink {
  0% {
    color: #6772e5;
  }
  49% {
    color: #6772e5;
  }
  50% {
    color: transparent;
  }
  to {
    color: transparent;
  }
}
@keyframes blink {
  0% {
    color: #6772e5;
  }
  49% {
    color: #6772e5;
  }
  50% {
    color: transparent;
  }
  to {
    color: transparent;
  }
}
.GjbXpmN3_LN_AePikm6f {
  cursor: pointer;
  height: 30px;
  left: 89%;
  position: absolute;
  top: 1.5vh;
  transition: transform 0.2s ease-in-out;
}
.GjbXpmN3_LN_AePikm6f:hover {
  transform: scale(1.2);
}
.y8dUjaTacz6jo7MoMF34 {
  display: flex;
  flex: 1 1 50%;
  justify-content: center;
  margin: 250px 0 0;
}
@media (max-width: 992px) {
  .y8dUjaTacz6jo7MoMF34 {
    flex: 0 0 250px;
    margin: 0 0 40px;
  }
}
.J_3nU5_hgLcntYVZdvsE {
  flex: 1 1 50%;
}
@media (max-width: 992px) {
  .J_3nU5_hgLcntYVZdvsE {
    text-align: center;
  }
}
.EdFUW2n5zRmDgNiSDiPS.EdFUW2n5zRmDgNiSDiPS {
  margin: 0 auto 30px;
  max-width: 700px;
}
.J4JZ5Xg25CF2PuR7ahT_ {
  padding: 0;
}
.J4JZ5Xg25CF2PuR7ahT_ li {
  color: #445d6e;
}
.J4JZ5Xg25CF2PuR7ahT_ li:not(:last-child) {
  margin: 0 0 25px;
}
@media (max-width: 576px) {
  .J4JZ5Xg25CF2PuR7ahT_ li {
    font-size: 14px;
  }
}
.WdjGzmwt6rcoypXKRNMz {
  color: #02203c;
  font-size: 18px;
}
@media (max-width: 576px) {
  .WdjGzmwt6rcoypXKRNMz {
    font-size: 16px;
  }
}
.UMyBC0HcPUo945Y9L9jz {
  color: #02203c;
  margin-right: 20px;
  vertical-align: middle;
  width: 50px;
}
@media (max-width: 576px) {
  .UMyBC0HcPUo945Y9L9jz {
    margin-right: 10px;
    width: 35px;
  }
}
.XXF2aSp0uEJW6VR1JQHZ {
  margin: 50px auto 0;
  max-width: 1200px;
}
.q9mUauzn4HJc7shE69iy {
  background-color: #f44292;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  margin: 0 0 0 5px;
  padding: 2px 8px;
  vertical-align: middle;
}
.ZDg070Y0eQidwj8KVwqq {
  overflow: hidden;
  padding: 100px 20px;
  position: relative;
}
.HSoW3CBjzE86AbUY2P92 {
  background-color: transparent;
}
.ae .B5ZGDFkOjNeOqrW_Y0F8 {
  background-color: #02203c;
}
.se .B5ZGDFkOjNeOqrW_Y0F8 {
  background-color: #0f0f0f;
}
.mle .B5ZGDFkOjNeOqrW_Y0F8 {
  background-color: #263238;
}
.pe .B5ZGDFkOjNeOqrW_Y0F8 {
  background-color: #2e4057;
}
.fe .B5ZGDFkOjNeOqrW_Y0F8 {
  background-color: #00334c;
}
.ae .hfTvY2Sc2_75Hbfsd5Wb {
  background: linear-gradient(
    90deg,
    #02203c 50%,
    #15314b 0
  );
}
._gsBWkx7_aDSs7JQH8jr {
  cursor: pointer;
  position: absolute;
  right: 8%;
  top: 20px;
  transition: transform 0.2s ease-in-out;
  width: 30px;
}
._gsBWkx7_aDSs7JQH8jr:hover {
  transform: scale(1.2);
}
.ae .DjDDOPYiIWO0JjBdd_XA {
  color: #626ee3;
}
.se .DjDDOPYiIWO0JjBdd_XA {
  color: #890023;
}
.mle .DjDDOPYiIWO0JjBdd_XA {
  color: #f37f1b;
}
.pe .DjDDOPYiIWO0JjBdd_XA {
  color: #2e4057;
}
.fe .DjDDOPYiIWO0JjBdd_XA {
  color: #11967e;
}
.T92OtfHnmFJar7cTX7F4,
.jJPmXQ_eAt3q_3HvpXww {
  color: #fff;
}
._FFi2BsNkwyhQoZZTbwu {
  font-size: 35px;
}
.rl_N_PVS3Nk807v_L0ny {
  text-align: center;
}
.NuDWgEvEHLYLeqJEXPJt {
  margin: 0 0 10px;
}
.lWTnYAtSdx4HvuzHZaa3 {
  margin: 0 0 20px;
}
.aNK5MX2g72oPdLWjarhI {
  margin: 0 0 50px;
}
.x0MA37JJ8Ceh5GIGyCrB {
  margin: 0 0 100px;
}
.X7RLPht0rtIJpwH5OkEv {
  color: #fff;
}
.VyOQNetXYf1gjUf5PEdj {
  color: #02203c;
}
@media (max-width: 768px) {
  ._FFi2BsNkwyhQoZZTbwu {
    font-size: 30px;
  }
}
.TRcpiXfOeBAQFCQfDTii {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
@media (max-width: 992px) {
  .TRcpiXfOeBAQFCQfDTii {
    flex-direction: column;
  }
  .avWoOC4zon8_iyNR7vOQ {
    flex-direction: column-reverse;
  }
}
.f2Ys5JTA9UTXiVmVQr7w {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media (max-width: 992px) {
  .f2Ys5JTA9UTXiVmVQr7w {
    margin: 0 auto;
    max-width: 600px;
  }
}
.L5nsFqTuNYoO8u7Lif3P {
  align-items: flex-start;
}
@media (max-width: 992px) {
  .L5nsFqTuNYoO8u7Lif3P {
    align-items: center;
    text-align: center;
  }
}
.bLR6bhsWkK_e8_98G33a {
  align-items: center;
  width: 100%;
}
.COEFosFo0DVLuNXDFKuk {
  align-items: center;
  text-align: center;
}
.MEMgBK6ykHcSrc6lQM9e {
  flex: 0 0 auto;
}
.iKDF9APRGvAJxzQhwKUK {
  width: 40px;
}
@media (max-width: 992px) {
  .iKDF9APRGvAJxzQhwKUK {
    height: 40px;
  }
}
.lWcCz2azPIViLSVySa6w {
  width: 60px;
}
@media (max-width: 992px) {
  .lWcCz2azPIViLSVySa6w {
    height: 60px;
  }
}
.yPRhEcsVuAIHVDMbkITg {
  width: 80px;
}
@media (max-width: 992px) {
  .yPRhEcsVuAIHVDMbkITg {
    height: 80px;
  }
}
.ZBXtz2jbLOeM9hs8fhK5:not(:last-child) {
  margin: 0 0 25px;
}
.ZdftfmUd5MXjVmxGnYkF.ZdftfmUd5MXjVmxGnYkF {
  min-height: 500px;
  perspective: 1500px;
}
@media (max-width: 992px) {
  .ZdftfmUd5MXjVmxGnYkF.ZdftfmUd5MXjVmxGnYkF {
    min-height: 0;
  }
}
.z8T1hjzW2PD83cFpXlc1 {
  border-radius: 4px;
  box-shadow: 27.1px 62.5px 40px -25px rgba(50, 50, 93, 0.6),
    16.2px 37.5px 75px -37.5px rgba(0, 0, 0, 0.7);
  flex: 0 0 auto;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  transform: rotate3d(0.5, -0.866, 0, 15deg)
    rotate(1deg);
  width: 610px;
}
@media (max-width: 992px) {
  .z8T1hjzW2PD83cFpXlc1 {
    height: auto;
    position: static;
    transform: none;
    width: 100%;
  }
}
.u0MG4mJIm6ifqTFiQY28 {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
  width: 100%;
}
.FSIeZfXHJfzYguytDxVp {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.CLNXU9rmo8BtWuAnZYxn {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.212),
    hsla(0, 0%, 100%, 0.137)
  );
}
@media (max-width: 992px) {
  .CLNXU9rmo8BtWuAnZYxn {
    display: none;
  }
}
._YoccyNUi66BInfIuqjg {
  background: linear-gradient(
    165deg,
    #fcfcfc 39%,
    #3e3e68
  );
  border-radius: 4px;
  z-index: -1;
}
@media (max-width: 992px) {
  ._YoccyNUi66BInfIuqjg {
    background: linear-gradient(
      155deg,
      #eee 39%,
      #1b1b45
    );
  }
}
.c5wFbmtx9obCqyYt5J6w {
  margin: 0 0 60px;
}
.y2iMJCwBl50Fcnk_Q0iL {
  font-size: 24px;
  margin: 0 0 10px;
}
.gBQRbh942OCDLX6b2wc3 {
  color: #02203c;
  margin: 40px 0 0;
  max-width: 350px;
  width: 40%;
}
.Rb5dFQcqg82QltLDtfjf {
  margin-top: 60px;
}
.u8rqCjUOod3fsJqJ87oR {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(50, 50, 93, 0.1);
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: 30px 5px 15px;
  padding: 45px 20px 20px;
  position: relative;
}
.ae .u8rqCjUOod3fsJqJ87oR {
  border-top: 4px solid #626ee3;
}
.se .u8rqCjUOod3fsJqJ87oR {
  border-top: 4px solid #890023;
}
.mle .u8rqCjUOod3fsJqJ87oR {
  border-top: 4px solid #f37f1b;
}
.pe .u8rqCjUOod3fsJqJ87oR {
  border-top: 4px solid #f21b3f;
}
.fe .u8rqCjUOod3fsJqJ87oR {
  border-top: 4px solid #11967e;
}
.oFPebfo2vXWEEOMjIDTI {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 20px;
}
.So_znRbIS1j0hpNfUY22 {
  height: 25px;
  margin: 5px 0 0;
}
.aUG2kInOJvMJet_mvQyk {
  color: #02203c;
  font-family: Ubuntu, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 5px;
  text-transform: none;
}
.uDiaDGefFxrKf1s2iTLH {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  display: inline-block;
  flex: 0 0 auto;
  left: calc(50% - 30px);
  margin: 0 20px 0 0;
  overflow: hidden;
  position: absolute;
  top: -30px;
}
.c_yj32yrwkhOtd7MA0Eh {
  display: block;
  width: 60px;
}
.AJp3Kuk83A2V1oTW8VJY {
  color: #02203c;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px;
  text-align: center;
}
.AJp3Kuk83A2V1oTW8VJY,
.zl5PwuZdNv5BgbTvGbcb {
  font-family: Ubuntu, Helvetica, Arial,
    sans-serif;
  text-transform: none;
}
.zl5PwuZdNv5BgbTvGbcb {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  margin: 0;
}
.x1IATGit4EBu0mTWpLO4 {
  overflow-y: auto;
  scrollbar-color: #dadada transparent;
  scrollbar-width: thin;
}
.x1IATGit4EBu0mTWpLO4::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.x1IATGit4EBu0mTWpLO4::-webkit-scrollbar-track {
  background-color: transparent;
}
.x1IATGit4EBu0mTWpLO4::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 3px;
}
.x1IATGit4EBu0mTWpLO4::-webkit-scrollbar-corner {
  background-color: transparent;
}
.YuKguYYuOg2V8BNURnP1 {
  font-size: 14px;
}
.c4DM9a31ZZFq4bn2L5vw {
  margin: 0 auto;
  max-width: 1000px;
}
@media (max-width: 600px) {
  .c4DM9a31ZZFq4bn2L5vw {
    max-width: 400px;
  }
}
.Jp3eleFn4NgylTbz96X0 {
  display: flex;
  justify-content: center;
  padding: 10px 0 0;
}
.fP8j_JzWY64eeyqxdcZh {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  box-shadow: 0 2px 4px 1px rgba(50, 50, 93, 0.1);
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 40px;
}
.fP8j_JzWY64eeyqxdcZh:hover {
  box-shadow: 0 6px 10px 2px rgba(50, 50, 93, 0.1);
  transform: translateY(-3px);
}
.ae .fP8j_JzWY64eeyqxdcZh {
  color: #626ee3;
}
.se .fP8j_JzWY64eeyqxdcZh {
  color: #890023;
}
.mle .fP8j_JzWY64eeyqxdcZh {
  color: #f37f1b;
}
.pe .fP8j_JzWY64eeyqxdcZh {
  color: #f21b3f;
}
.fe .fP8j_JzWY64eeyqxdcZh {
  color: #11967e;
}
.wL24TZrMHFbxclokwjzt:hover {
  box-shadow: 0 2px 4px 1px rgba(50, 50, 93, 0.1);
  cursor: not-allowed;
  transform: none;
}
.VWuY6WOm322Jk9rX6bAM {
  flex: 0 0 auto;
  width: 20px;
}
.ae .VWuY6WOm322Jk9rX6bAM {
  color: #626ee3;
}
.se .VWuY6WOm322Jk9rX6bAM {
  color: #890023;
}
.mle .VWuY6WOm322Jk9rX6bAM {
  color: #f37f1b;
}
.pe .VWuY6WOm322Jk9rX6bAM {
  color: #f21b3f;
}
.fe .VWuY6WOm322Jk9rX6bAM {
  color: #11967e;
}
.VWuY6WOm322Jk9rX6bAM.L8JVuCw3dXkorQq0MESD {
  color: gray;
}
.WeakX6npXGv6KR70ZRgm {
  margin: 50px 0 0;
  text-align: center;
}
.RK1vS6iq84rTEU1VOs1d {
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1) !important;
  transition: transform 0.2s, box-shadow 0.2s;
}
.RK1vS6iq84rTEU1VOs1d:hover {
  background-color: #fff !important;
  box-shadow: 0 6px 10px 2px rgba(50, 50, 93, 0.1) !important;
  color: #02203c !important;
  transform: translateY(-3px);
}
:export {
  aeBg: #02203c;
  aeDarkBg: #001528;
  aeLightBg: #15314b;
  aeAccent: #626ee3;
  backgroundGrey: #f6f9fc;
  seAccent: #890023;
  seBg: #0f0f0f;
  mleBg: #263238;
  mleDarkBg: #11171a;
  mleLightBg: #3b4d56;
  mleAccent: #f37f1b;
  runCodeBlue: #0046c7;
  runCodeBlueHover: #02389c;
  submitCodeGreen: #008529;
  submitCodeGreenHover: #00621e;
  failureRed: red;
  successGreen: #00af32;
  peAccent: #f21b3f;
  peDarkAccent: #ce0c2c;
  peBg: #2e4057;
  peDarkBg: #1c2736;
  feAccent: #11967e;
  feBg: #00334c;
  feDarkBg: #001119;
  feLightBg: #00557f;
  textGrey: #445d6e;
  boxShadow1: 0 2px 4px rgba(50, 50, 93, 0.1);
  boxShadow2: 0 0 50px -10px rgba(0, 0, 0, 0.1);
}
.glide {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.glide * {
  box-sizing: inherit;
}
.glide__slides,
.glide__track {
  overflow: hidden;
}
.glide__slides {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  touch-action: pan-Y;
  transform-style: preserve-3d;
  white-space: nowrap;
  width: 100%;
  will-change: transform;
}
.glide__slide,
.glide__slides--dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.glide__slide {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  height: 100%;
  white-space: normal;
  width: 100%;
}
.glide__slide a {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows,
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}
.AiJ6rea5O5v838MJEPze {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 40px;
}
@media (max-width: 768px) {
  .AiJ6rea5O5v838MJEPze {
    padding: 60px 10px;
  }
}
.sAQlpu7R7yq1OKDTvRhm {
  font-size: 35px;
  margin: 0 0 10px;
  padding: 0 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .sAQlpu7R7yq1OKDTvRhm {
    font-size: 30px;
  }
}
.iHpM_FBovhjcOJOX3650 {
  font-size: 18px;
  margin: 0 0 50px;
  text-align: center;
}
.uoQsP0r7oL_DpTGVZNLN {
  flex: 0 0 230px;
  overflow: hidden;
  position: relative;
}
.Fs3c3GLpfqLSeN7jGcP4,
.p3CDmIc3GhuppGJREzJo {
  height: 100%;
  position: absolute;
  width: 40px;
  z-index: 1;
}
.p3CDmIc3GhuppGJREzJo {
  background-image: linear-gradient(
    90deg,
    #fff 30%,
    hsla(0, 0%, 100%, 0)
  );
  left: 0;
  top: 0;
}
.Fs3c3GLpfqLSeN7jGcP4 {
  background-image: linear-gradient(
    270deg,
    #fff 30%,
    hsla(0, 0%, 100%, 0)
  );
  right: 0;
  top: 0;
}
.lCAZZ6ZI0e7HGDUTB9rC {
  flex: 0 0 auto;
  height: 100px;
  margin: 0 0 20px;
  position: relative;
  width: 1400px;
}
.z8M5wdmrGX4dzMF5jvzj {
  align-items: center;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}
.PRJpT01RPsTOhUp4oFzA {
  -webkit-animation-name: KP2uFjMFYIanKGh1gkvK;
  animation-name: KP2uFjMFYIanKGh1gkvK;
}
.zMsh8gSx2BT44eP0i5zX {
  -webkit-animation-name: _8ObdR113ksCEDPWqRtt;
  animation-name: _8ObdR113ksCEDPWqRtt;
  left: 100%;
}
.NaHhnPJ53wDpiRAUzhsE {
  -webkit-animation-name: fkaHc3gs4msIGblGxxlG;
  animation-name: fkaHc3gs4msIGblGxxlG;
  left: -100%;
}
.XVkgL_IndZ9Vi2RqJxt2 {
  -webkit-animation-name: H7PhY313LTnsNGXi8lrI;
  animation-name: H7PhY313LTnsNGXi8lrI;
}
.EJQhjaybvS68Q9JJauGe {
  flex: 1 1 200px;
  margin: 20px;
  min-width: 0;
}
.rTQuiIgo3VOxgJicmNa8 {
  filter: grayscale(100%) brightness(0);
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.kDtawlN38qfKNlj_Y6S_ {
  margin: 0 auto;
  text-align: center;
  width: 90vw;
}
@-webkit-keyframes KP2uFjMFYIanKGh1gkvK {
  0% {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes KP2uFjMFYIanKGh1gkvK {
  0% {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes _8ObdR113ksCEDPWqRtt {
  0% {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes _8ObdR113ksCEDPWqRtt {
  0% {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes fkaHc3gs4msIGblGxxlG {
  0% {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes fkaHc3gs4msIGblGxxlG {
  0% {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes H7PhY313LTnsNGXi8lrI {
  0% {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes H7PhY313LTnsNGXi8lrI {
  0% {
    left: 0;
  }
  to {
    left: 100%;
  }
}
.ZwXbl8kG58FgFEbaYl_m {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin: 0 7px 0 0;
  padding: 7px;
}
.tIVtxDssOBmOuQPxdblW {
  background-color: rgba(242, 27, 63, 0.1);
}
.Or6vV1iBnZbg0LFTTowN {
  background-color: rgba(17, 150, 126, 0.1);
}
.sR2IqvVTwQjnAEwbRMZA {
  background-color: rgba(58, 179, 87, 0.1);
}
.y_lNovXxhz_UMKptpsA7 {
  background-color: rgba(255, 0, 0, 0.1);
}
.WqkN5LwXaRXfKAalta8j {
  flex: 0 0 auto;
  width: 20px;
}
.o3f80QwMWHzxLvevO4_a {
  color: #f21b3f;
}
.rbT2UyY1Ec3PlQHVG1DT {
  color: #11967e;
}
.X0uO4d08LpBk2wimt17I {
  color: #3ab357;
}
.t8zVegKn96rsCc2Wgxs7 {
  color: red;
}
.iPmjFNHfrzbVro_nyJjg {
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.cSKzYT2ZGR0PKBYzBwRF {
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 4px;
  border-spacing: 0;
  color: #445d6e;
  min-width: 800px;
  table-layout: fixed;
  width: 100%;
}
.ZUEzEYMRLb3WxyvTSQ1j .F60cb19pFckVEM8CPfFf {
  font-size: 18px;
  padding: 30px 20px;
}
@media (max-width: 576px) {
  .ZUEzEYMRLb3WxyvTSQ1j .F60cb19pFckVEM8CPfFf {
    padding: 20px 15px;
  }
}
.cAPakvAsLMD7IAxVIunJ,
.kw64nNI06Ge_mpxEIWZJ .F60cb19pFckVEM8CPfFf {
  padding: 20px;
}
@media (max-width: 576px) {
  .cAPakvAsLMD7IAxVIunJ,
  .kw64nNI06Ge_mpxEIWZJ .F60cb19pFckVEM8CPfFf {
    padding: 15px;
  }
}
.F60cb19pFckVEM8CPfFf,
.cAPakvAsLMD7IAxVIunJ {
  border-bottom: 1px solid #eee;
}
.kw64nNI06Ge_mpxEIWZJ
  .PsWrhd312lCrFQl8ElC0:is(:last-child)
  .F60cb19pFckVEM8CPfFf,
.kw64nNI06Ge_mpxEIWZJ
  .PsWrhd312lCrFQl8ElC0:is(:last-child)
  .cAPakvAsLMD7IAxVIunJ {
  border: none;
}
.f6JC_uNTUWPYDwrU_4zS {
  text-align: right;
}
.s8_6pD2ACOe2VjsCWxl_ {
  text-align: left;
}
.PTKBWYpHbrTogUQ6T7du {
  background-color: #626ee3;
  border-radius: 0 4px 0 0;
  color: #fff;
}
.XvuLV7b4uFD8AqTItysT {
  margin: 0 10px 0 0;
  width: 25px;
}
.y29RgcdoPegb04QYYnOW {
  margin: 0 auto;
  max-width: 1200px;
}
.Zn8Foj_XVj9wdpQbvZIY {
  height: 400px;
  position: relative;
}
.fAA1HjF7KOf_kSmQt0Nx {
  border-radius: 8px;
  display: grid;
  height: 90px;
  left: -45px;
  place-items: center;
  position: absolute;
  top: calc(50% - 45px);
  width: 90px;
  z-index: 2;
}
.ae .fAA1HjF7KOf_kSmQt0Nx {
  background-color: #626ee3;
  box-shadow: inset 0 -5px 10px 0 #3746db,
    0 2px 10px 0 rgba(0, 0, 0, 0.8);
}
.se .fAA1HjF7KOf_kSmQt0Nx {
  background-color: #890023;
  box-shadow: inset 0 -5px 10px 0 #560016,
    0 2px 10px 0 rgba(0, 0, 0, 0.8);
}
.mle .fAA1HjF7KOf_kSmQt0Nx {
  background-color: #f37f1b;
  box-shadow: inset 0 -5px 10px 0 #d0660b,
    0 2px 10px 0 rgba(0, 0, 0, 0.8);
}
.pe .fAA1HjF7KOf_kSmQt0Nx {
  background-color: #f21b3f;
  box-shadow: inset 0 -5px 10px 0 #ce0c2c,
    0 2px 10px 0 rgba(0, 0, 0, 0.8);
}
.fe .fAA1HjF7KOf_kSmQt0Nx {
  background-color: #11967e;
  box-shadow: inset 0 -5px 10px 0 #0c6858,
    0 2px 10px 0 rgba(0, 0, 0, 0.8);
}
.MJ87EWTDHmnx7bX4YldG {
  color: #fff;
  width: 50px;
}
.gVGVa1ByQ6UC_obtnxsE {
  border-radius: 200px 0 0 200px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.DJE2CM6fKBqRYyp_APII {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.ae .DJE2CM6fKBqRYyp_APII {
  background: linear-gradient(
    90deg,
    rgba(0, 21, 40, 0.8),
    transparent 20%
  );
}
.se .DJE2CM6fKBqRYyp_APII {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8),
    transparent 20%
  );
}
.mle .DJE2CM6fKBqRYyp_APII {
  background: linear-gradient(
    90deg,
    rgba(17, 23, 26, 0.8),
    transparent 20%
  );
}
.pe .DJE2CM6fKBqRYyp_APII {
  background: linear-gradient(
    90deg,
    rgba(28, 39, 54, 0.8),
    transparent 20%
  );
}
.fe .DJE2CM6fKBqRYyp_APII {
  background: linear-gradient(
    90deg,
    rgba(0, 17, 25, 0.8),
    transparent 20%
  );
}
.JRoTMTlZzG1M04kmrFQ9 {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
  color: hsla(0, 0%, 100%, 0.8);
  padding: 10px;
  position: absolute;
  z-index: 0;
}
.ae .H13ZG4ZyNopH5gwzeWt3 {
  background-color: #626ee3;
}
.se .H13ZG4ZyNopH5gwzeWt3 {
  background-color: #890023;
}
.mle .H13ZG4ZyNopH5gwzeWt3 {
  background-color: #f37f1b;
}
.pe .H13ZG4ZyNopH5gwzeWt3 {
  background-color: #f21b3f;
}
.fe .H13ZG4ZyNopH5gwzeWt3 {
  background-color: #11967e;
}
.ae .tZ0k9kIe0NFckqUnzaSm {
  background-color: #969eec;
}
.se .tZ0k9kIe0NFckqUnzaSm {
  background-color: #c60033;
}
.mle .tZ0k9kIe0NFckqUnzaSm {
  background-color: #f6a055;
}
.pe .tZ0k9kIe0NFckqUnzaSm {
  background-color: #f55570;
}
.fe .tZ0k9kIe0NFckqUnzaSm {
  background-color: #17cdac;
}
.ae .zfMsKMr_lxsbwWlG1zG8 {
  background-color: #7c86e8;
}
.se .zfMsKMr_lxsbwWlG1zG8 {
  background-color: #a8002b;
}
.mle .zfMsKMr_lxsbwWlG1zG8 {
  background-color: #f58f38;
}
.pe .zfMsKMr_lxsbwWlG1zG8 {
  background-color: #f43857;
}
.fe .zfMsKMr_lxsbwWlG1zG8 {
  background-color: #14b195;
}
.ae .BcyU8WngiM5OjTBx18rQ {
  background-color: #4856de;
}
.se .BcyU8WngiM5OjTBx18rQ {
  background-color: #6a001b;
}
.mle .BcyU8WngiM5OjTBx18rQ {
  background-color: #e3700c;
}
.pe .BcyU8WngiM5OjTBx18rQ {
  background-color: #e20d30;
}
.fe .BcyU8WngiM5OjTBx18rQ {
  background-color: #0e7b67;
}
.ae .PDqjmLAPEuCstQmpByiF {
  background-color: #2e3eda;
}
.se .PDqjmLAPEuCstQmpByiF {
  background-color: #4c0013;
}
.mle .PDqjmLAPEuCstQmpByiF {
  background-color: #c6610a;
}
.pe .PDqjmLAPEuCstQmpByiF {
  background-color: #c50b2a;
}
.fe .PDqjmLAPEuCstQmpByiF {
  background-color: #0b5f50;
}
._z66N2HqgojaFgNZJK0a._z66N2HqgojaFgNZJK0a {
  align-items: flex-start;
  height: 350px;
  position: relative;
}
._uFxOGx15ZVOMZ9t4ldk {
  left: 45px;
  position: absolute;
}
@media (max-width: 992px) {
  ._uFxOGx15ZVOMZ9t4ldk {
    padding-left: 45px;
    position: static;
  }
}
.pAXemGc0ox4C0wyuF4cH {
  background-color: #02203c;
  height: 1px;
  margin: 0 auto;
  width: 87%;
}
